body {
    text-align: center;
    margin: auto;
    background-color: silver;
    font-size: 22px;
}

#title {
    text-align: center;
    margin: auto;
    font-family: times;
    background-color: teal;
    color: black;
    padding: 1px;
    font-size: 50px;
}

#changeValue {
    border: dotted 3px;
    margin: auto;
    padding: 0px;
    color: black;
    padding-top: 75px;
    font-size: 25px;
    background-color: teal;
    position: relative;
    margin-top: 100px;
    height: 200px;
    clear: both;
}

