body {
    background-color:black;
    color:white;
}
    
header, nav, footer, #content {
        width: 960px;
        margin: 0 auto; 
        text-align: center; 
    }

footer {
    clear: left;
    color: yellow;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    margin-bottom: 0px;
}

nav a {
    padding:15px;
    padding-bottom:4px;
    font-size: 1.8em;
    color: white;
    text-decoration: none; 
}

nav a:hover, #current {
    border-bottom:2px orange solid;
    font-size: 2em;
    transition: .9s;  
} 

aside, section {
    float:left;
}
aside {
    text-align: left;
    padding-left: 50px;
    padding-top: 30px;
    width: 200px;
    font-size: 1.3em;
}

table {
    margin: 0px auto;
}

td {
    padding-right: 10px;
    font-size: 1.3em;
}

td strong {
    color: orange;
}

ul {
    text-align: left;
    padding-left: 200px;
}

#table-header {
    background-color: #351a00;
}

#profilePic {
    border-radius: 50px;
}

.table-row {
    background-color: #753900;
}

.hobby {
    color: yellow;
}
